.grid {
  background-color: blanchedalmond;
  height: 80vh;
  margin: 10vh 10vh 0vh 10vh;
  border-radius: 15%;
}

.text {
  text-align: center;
  vertical-align: middle;
  line-height: 80vh;
}

.addButton {
  height: 100%;
}

/* .card-wrapper {
  padding-top: 1vh;
  padding-left: 25;
} */

/* .card {
  justify-content: center;
  border-radius: 25px;
  width: 20vw;
  height: 10vh;
} */

.cardSubTitle {
  padding-top: 10px;
  padding-left: 20px;
}

.cardBody {
  padding-top: 0.5rem;
}

.cardButton {
  width: 10vh;
  padding: 0 0 2px 0px;
  margin-left: 10px;
  border: 0;
}

.room-profile {
  text-align: center;
  vertical-align: middle;
  height: 80vh;
}

.room-input {
  padding-top: 20vh;
}

.topNav {
  display: inline-block;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  border: 3px solid #bbb;
  border-radius: 10px;
}

.topNav-header-2 {
  float: right;
}

.InputBar {
  width: 80%;
  margin-left: 10%;
}

.sendButton {
  float: right;
}

.input {
  width: 60%;
  margin-left: 10%;
}

.chatRoom {
  height: 60vh;
  width: 80%;
  margin-left: 10%;
  border: 3px solid #bbb;
}

.chatRoom > div {
  height: 100%;
}

/* Layout 2.0 */

.grid {
  width: 30%;
  margin: auto;
  margin-top: 5vh;
  opacity: 0.9;
}

.grid::-webkit-scrollbar {
  display: none;
}
.tabs {
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("../resource/pic1.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

.card-wrapper {
  padding-top: 1vh;
}

.card {
  align-items: center;
  border-radius: 25px;
  width: 20vw;
  height: 10vh;
  margin: auto;
}
